@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "alef", sans-serif;
    list-style-type: none;
    color: #ffffff;
}

