body {
    background-color: #060606;
}

.header-menu-nav {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 64px;
    background-color: #060606;
    box-shadow: 0px 4px 4px #ffffff16;
}

.header-logo {
    width: 150px;
    height: 32.99px;
}

.container-menu-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 750px;
}

.menu-nav-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.links-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.links-nav:hover path, .links-nav:hover a {
    cursor: pointer;
    fill: #FFB800;
    stroke: #FFB800;
    color: #FFB800;
}

.logo-sol {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.logo-sol:hover path, .logo-sol:hover {
    fill: #FFB800;
    filter:drop-shadow(0 0 5px #FFB800);
}

/* Main SECTION 1 */

.main-intro {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060606;
}

.intro-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc532;
}

.intro-text {
    position: absolute;
    margin-left: -470px;
    z-index: 10;
}

.intro-title {
    font-family: "alef" sans-serif;
    font-size: 64px;
}

.intro-subtitle {
    font-family: "alef" sans-serif;
    font-size: 24px;
}

.intro-bs-edit {
    color: #FFB800;
}

.intro-btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    margin-top: 16px;
    font-weight: 800;
    font-size: 20px;
    color: #000000;
    background-color: #FFB800;
}

.intro-btn:hover {
    background-color: #ffc532;
    cursor: pointer;
}

.intro-bg {
    position: absolute;
    margin-right: -470px;
    z-index: 5;
}