body {
    background-color: #060606;
}

.header-menu-nav {
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
}

.container-menu-nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-nav {
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}